/vendor
/node_modules
/public
/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
.phpunit.result.cache
/.vscode
/.idea
/.phpunit.cache
.DS_Store
.env.backup
.env.production
.env.development
.env.local
magic.zip